@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
/*header*/

.header {
  background-color: rgba(255, 255, 255, 0.7);

  /* header container  */
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

    /* navbar container  */
    .navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.5rem;
      font-weight: 500;
      padding: 20px;
      font-size: 1rem;

      /* navbar anchor tags  */
      a {
        text-decoration: none;
        color: #555;
      }
      a:hover {
        color: black;
      }
    }
  }
}

.hero-container {
  max-width: 1300px;
  margin: auto;
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex: 1; */

  .left-hero {
    min-width: 50%;
    flex-basis: 49%;

    p {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .right-hero {
    flex-basis: 49%;
    min-width: 50%;
    animation: right2left 1s 1;

    img {
      width: 100%;
    }
  }
}

/* mediaQuery for hero-section  */

@media (max-width: 650px) {
  .hero-container {
    flex-direction: column;
    padding: 20px;
    .right-hero,
    .right-hero {
      flex-basis: 100%;
    }
  }
}

/* mediaquery for navbar  */
@media (min-width: 800px) {
  .menuBar {
    display: none;
  }
  a {
    .cart-img {
      display: block;
    }
  }
}

@media (max-width: 800px) {
  .navbar,
  .cart-img,
  .menuBar {
    display: block;
  }

  .navabar,
  a,
  hr {
    display: none;
  }
}

@keyframes right2left {
  from {
    transform: translateX(100vw); /*Start from right side */
  }
  to {
    transform: translateX(0); /*End at normal position*/
  }
}

/* catogories  */

.catgories-container {
  margin: 70px 0;

  .catogories-img {
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 25px;

    .c-img {
      flex-basis: 30%;
      min-width: 200px;
      margin: 5px;
    }
  }
}

/* mediaQuery for catogorieSection  */

@media (max-width: 600px) {
  .catogories-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

/* feature-container  */

.feature-container {
  /* feature-heading  */
  h2 {
    line-height: 50px;
    color: #555;
  }

  /* product-cart-hdng  */
  .product-cart-hdng {
    max-width: 980px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* feature-underline  */
  .underline-container {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    .underline {
      height: 5px;
      width: 80px;
      background-color: #ff523b;
      border-radius: 5px;
    }
  }

  /* feature-card  */

  .feature-card-contianer {
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 25px;
    justify-content: space-around;

    /* feature-card-hover-transformation  */
    .feature-card:hover {
      transform: translateY(-5px);
    }
  }
  .product-hdng {
    margin: 100px auto 0;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;

    .select {
      width: fit-content;
      cursor: pointer;
      position: relative;
      transition: 300ms;
      color: white;
      overflow: hidden;
    }

    .selected {
      background-color: #2a2f3b;
      padding: 5px;
      margin-bottom: 3px;
      border-radius: 5px;
      position: relative;
      z-index: 100000;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .arrow {
      position: relative;
      right: 0px;
      height: 10px;
      transform: rotate(-90deg);
      width: 25px;
      fill: white;
      z-index: 100000;
      transition: 300ms;
    }

    .options {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      padding: 5px;
      background-color: #2a2f3b;
      position: relative;
      top: -100px;
      opacity: 0;
      transition: 300ms;
    }

    .select:hover > .options {
      opacity: 1;
      top: 0;
    }

    .select:hover > .selected .arrow {
      transform: rotate(0deg);
    }

    .option {
      border-radius: 5px;
      padding: 5px;
      transition: 300ms;
      background-color: #2a2f3b;
      width: 150px;
      font-size: 15px;
    }
    .option:hover {
      background-color: #323741;
    }

    .options input[type="radio"] {
      display: none;
    }

    .options label {
      display: inline-block;
    }
    .options label::before {
      content: attr(data-txt);
    }

    .options input[type="radio"]:checked + label {
      display: none;
    }

    .options input[type="radio"]#all:checked + label {
      display: none;
    }

    .select:has(.options input[type="radio"]#all:checked) .selected::before {
      content: attr(data-default);
    }
    .select:has(.options input[type="radio"]#option-1:checked)
      .selected::before {
      content: attr(data-one);
    }
    .select:has(.options input[type="radio"]#option-2:checked)
      .selected::before {
      content: attr(data-two);
    }
    .select:has(.options input[type="radio"]#option-3:checked)
      .selected::before {
      content: attr(data-three);
    }
  }

  .feature-card {
    cursor: pointer;
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-bottom: 50px;
    flex-basis: 23%;

    transition: transform 0.3s;

    .title,
    .price {
      color: #555;
    }
  }

  a,
  .feature-card {
    cursor: pointer;
    /* border: 1px solid black; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    min-width: 200px;
    /* margin-bottom: 50px; */
    flex-basis: 23%;

    transition: transform 0.3s;

    .title,
    .price {
      color: #555;
    }
  }

  /* feature-card-hover-transformation  */
  .feature-card:hover {
    transform: translateY(-5px);
  }
}

/* mediaQuery for feature-card  */

@media only screen and (max-width: 600px) {
  .feature-card-contianer {
    .feature-card {
      flex-basis: 100%;
    }
  }
}
/* exclusive-container  */

.exclusive-container {
  padding: 0px 30px;
  margin-top: 80px;

  /* exclusive-card-container  */

  .exclusive-card {
    padding: 0px 25px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid black; */

    /* exclusive-left-card  */
    .left-card {
      padding: 50px;
      flex: 1;

      img {
        height: 100%;
        width: 100%;
      }
    }

    /* exclusive-right-card  */
    .right-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .exclusive-about {
        display: flex;
        flex-direction: column;
      }

      h2 {
        font-size: 50px;
        font-family: "Lato", sans-serif;
        margin: 25px 0px;
        font-weight: 700;
      }

      p {
        font-family: "Lato", sans-serif;
        color: #555;
      }

      .btn {
        padding: 8px 30px;
        background-color: #ff523b;
        color: white;
        font-family: "Lato", sans-serif;
        height: 35px;
        width: 145px;
        border-radius: 30px;
        margin: 30px 0;
        transition: background-color 0.4s;
      }
      .btn:hover {
        background-color: #421a14;
      }
    }
  }
}

/* mediaQuery For exclusive  */

@media (max-width: 650px) {
  .exclusive-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .right-card {
      .exclusive-about {
        justify-content: center;
        align-items: center;
        h2 {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

/* testimonial area  */

.testimonial {
  padding-top: 100px;

  /* testimonial-container  */
  .testimonial-container {
    max-width: 1030px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* testimonial-card  */

    .testimonial-card {
      min-width: 250px;
      padding: 40px;
      margin-bottom: 30px;

      display: flex;
      flex-basis: 30%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;

      p {
        font-size: 12px;
        font-family: "Lato", sans-serif;
        color: #555;
        margin: 12px 0;
      }

      .testimonial-author-cnt {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-top: 20px;

        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          background-size: cover;
        }
      }
    }
    .testimonial-card:hover {
      transform: translateY(-5px);
    }
  }
}

/* mediaQuery For testimonial */

@media (max-width: 600px) {
  .testimonial {
    .testimonial-container {
      padding: 40px;
      .testimonial-card {
        flex-basis: 100%;
      }
    }
  }
}

/* brands  */

.brands {
  margin: 100px 0px;

  .brands-cnt {
    cursor: pointer;
    max-width: 1030px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .brand-logo {
      filter: grayscale(100%);
    }
  }

  .brand-logo:hover {
    filter: none;
  }
}

/* product-page btn  */
.product-page-btn {
  max-width: 1000px;
  margin: 0 auto 80px;
  display: flex;
  gap: 10px;

  .btn {
    height: 40px;
    width: 40px;
    border: 1px solid #ff523b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  .product-page-btn,
  .product-hdng {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .product-page-btn,
  .product-hdng {
    width: 250px;
    h2 {
      display: none;
    }
  }
}

@media (min-width: 600px) and (max-width: 850px) {
  .product-page-btn,
  .product-hdng {
    width: 575px;
  }
}

@media (min-width: 850px) and (max-width: 900px) {
  .product-page-btn,
  .product-hdng {
    width: 800px;
  }
}

@media (min-width: 900px) and (max-width: 1080px) {
  .product-page-btn,
  .product-hdng {
    width: 880px;
  }
}

/* footer  */

.footer {
  padding: 60px 0px 20px 0px;
  background: #222831;
  color: #eee;
  display: flex;
  flex-wrap: wrap;

  /* footer-container  */

  .footer-container {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin: auto;
    padding: 0px 25px;

    /* app-refferral  */

    .app {
      display: flex;
      flex-basis: 30%;
      flex-direction: column;

      h3 {
        color: #ff523b;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
      }

      .app-img {
        display: flex;
        margin-top: 20px;

        img {
          height: 40px;
          width: 140px;
          margin: 5px 3px;
        }
        img:hover {
          transform: translateY(-2px);
        }
      }
    }

    /* refferal-links  */
    .refferal-link {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      h3 {
        color: #ff523b;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      ul {
        text-align: center;

        li {
          list-style-type: none;
          margin-bottom: 10px;
          font-size: 14px;
        }
        li:hover {
          color: #ff523b;
        }
      }
    }

    /* social-media-refferal  */
    .social-media-cnt {
      display: flex;
      flex-basis: 12%;
      flex-direction: column;
      margin-bottom: 20px;

      align-items: center;

      h3 {
        color: #ff523b;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      ul {
        text-align: center;

        li {
          list-style-type: none;
          margin-bottom: 10px;
          font-size: 14px;
        }

        li:hover {
          color: #ff523b;
        }
      }
    }
  }
}

/* mediaQuery For footer  */

@media (max-width: 550px) {
  .footer-container {
    flex-direction: column;

    .app {
      justify-content: center;
      align-items: center;
    }
  }
}

/* carted product  */
.carted-pdct-cnt {
  max-width: 1000px;
  margin: 80px auto 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .carted-prdct {
    padding: 20px;
    flex-basis: 49%;

    .bigImg-cnt {
      width: 100%;
      flex-basis: 75%;
      img {
        width: 99%;
      }
    }
    .smallImg-cnt {
      display: flex;
      flex-basis: 23%;
      justify-content: space-between;
      padding: 5px;

      .smallimg {
        flex-basis: 23%;
        img {
          width: 98%;
        }
      }
    }
  }

  .carted-pdct-rightCnt {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: 25px 0;
      font-size: 3rem;
    }
    .price {
      margin: 20px 0;
      font-size: 22px;
      color: #555;
      font-weight: 600;
    }
    select {
      margin-top: 10px;
      width: 100px;
      margin-bottom: 10px;
      height: 35px;
      border-color: #ff523b;
    }
    .addCart {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;

      .btn {
        height: 40px;
        width: 40px;
        border: 1px solid #ff523b;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .crtBtn {
        margin: 30px 0px;
        padding: 8px 30px;
        background-color: #ff523b;
        color: white;
        font-family: "Lato", sans-serif;
        height: 35px;
        width: 145px;
        border-radius: 30px;

        transition: background-color 0.4s;
      }
      .crtBtn:hover {
        background-color: #421a14;
      }
    }
    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 800px) {
  .crtBtn {
    display: block;
  }
}

@media (max-width: 650px) {
  .carted-pdct-cnt {
    flex-direction: column;

    .carted-prdct {
      flex-basis: 95%;
    }
  }
}

/* cartSection  */

.cartSection-contianer {
  max-width: 1080px;
  margin: 80px auto;
  padding-left: 25px;
  padding-right: 25px;

  table {
    border-collapse: collapse;
    width: 100%;
    thead {
      th {
        text-align: left;
        padding: 5px;
        color: #fff;
        background: #ff523b;
        font-weight: normal;
      }

      th:last-child {
        text-align: right;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px 5px;

          .cartInnfo {
            display: flex;
            flex-wrap: wrap;

            .infoImg {
              height: 80px;
              width: 80px;
              margin-right: 10px;

              img {
                width: 100%;
              }

              .infotext {
                display: flex;
                flex-direction: column;
              }
            }
            small,
            p {
              color: #555;
            }
          }
        }
      }

      td input {
        width: 40px;
        height: 30px;
        padding: 5px;
      }

      .total {
        text-align: right;
      }
    }
  }

  .totalPrice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .totalPrice table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
    border-collapse: collapse;
  }

  .proceedBtn {
    padding: 10px 30px;
    background-color: #ff523b;
    color: white;
    font-family: "Lato", sans-serif;
    height: 35px;
    text-decoration: none;
    border-radius: 30px;
    margin: 30px 0;
    transition: background-color 0.4s;
  }
  .proceedBtn:hover {
    background-color: #421a14;
  }
}

@media (max-width: 800px) {
  .proceedBtn,
  .crtBtn {
    display: block;
  }
}
